
h1 {
    margin-top: 3%;
    text-align: center;
    margin-bottom: 6%;
    font-size: 300%
}

.princi {
  width: 100%;
}


.blop{
  position: absolute;
  margin-left: 0%;
  width: 50%;
}

.blip {
  margin-left: 50%;
  position: absolute;
  width: 50%;
}