{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            margin-top: 70px;
            margin-bottom: 50px;
        }
        
        h1 {
            text-align: center;
            font-size: 48px;
            font-family: 'Open Sans', sans-serif;
        }

        p {
            text-align: center;
            font-size: 24px;
            font-family: 'Open Sans', sans-serif;
        }

    </style>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Commande confirmee</h1>
    <p>La commande des produits a bien ete confirmee. Nous vous remercions pour votre commande.</p>
</div>

{% endblock %}