{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{{ form(formNouvelleInscription) }}
    {% for message in app.flashes('success') %}
    <p>{{ message }}</p>
    {% endfor %}
{% endblock %}